dialog.image article {
	height: 100%;
	width: 100%;
	max-width: none;
}

dialog.image article button.close {
}

.link {
	cursor: pointer;
}

.link:hover {
	text-decoration: underline;
}

.oi {
	margin-left: 0.5em;
	vertical-align: middle;
}

.image img {
	box-shadow: var(--card-box-shadow);
	max-height: 100%;
	max-width: 100%;
	margin-top: calc(0 - var(--typography-spacing-vertical));
}