dialog.image article {
	height: 90%;
	width: 90%;
	max-width: none;
}

button.close {
	position: relative;
	top: 1em;
	right: 1em;
}

.link {
	cursor: pointer;
}

.link:hover {
	text-decoration: underline;
}

.oi {
	margin-left: 0.5em;
	vertical-align: middle;
}